#!/usr/bin/env bash
alias grep='grep --color=auto'
alias ls='ls --color=auto'
alias ll='ls -lrth'
alias la='ls -lrthA'
alias l='ls -CF'
alias cols="column -s$'\t' -t"
alias coms="column -s$',' -t"
alias tmux="tmux -u"
alias vim="nvim"
alias D="export DISPLAY=:0"
alias DD="export DISPLAY=localhost:11.0"
alias ff="fzf-tmux"
alias fv='vim $(fzf --preview "bat --color \"always\" {}")'
alias z="fzf-tmux"

# The following are only available if you've installed each tool using, e.g., setup.sh --install-vd
alias vd="$HOME/miniconda3/envs/vd/bin/vd"
alias fd="$HOME/miniconda3/envs/fd/bin/fd"
alias tabview="$HOME/miniconda3/envs/tabview/bin/tabview"
alias black=$HOME/miniconda3/envs/black/bin/black
