#!/usr/bin/env bash

export EDITOR="vim"
export TERM="screen-256color"
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"

export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';

# in tmux, highlight rather than italicize
export LESS_TERMCAP_so=$'\E[30;43m'
export LESS_TERMCAP_se=$'\E[39;49m'

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# By default, Mac uses /bin/sh as the shell
if [[ $OSTYPE == darwin* ]]; then
    export SHELL=/bin/bash
fi
