xterm*faceName: Ubuntu Mono derivative Powerline:size=11

xterm*vt100*geometry: 80x50
xterm*saveLines: 10000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
# include "Xresources.dark"

xterm*VT100.Translatio!ns: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()
