name: Docker Image CI

on: [push]
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --build-arg BRANCH=${GITHUB_REF##*/} --file Dockerfile --tag daler-dotfiles

    - name: Test the docker image
      run: cd tests && bash run-tests.sh
